.input {
    position: relative;
}

.input .material-icons {
    position: absolute;
    top: 35%;
    left: 15px;
}

.input input {
    font-family: var(--primary-font-family);
    font-size: var(--fs-xs);
    font-weight: 400;
    height: 48px;
    width: 100%;
    padding: var(--space-xs) 0;
    padding-left: 45px;
    padding-right: 10px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 4px;
    outline: none;
}

.input input::placeholder {
    color: var(--grey-1);
}

.input input:focus {
    outline: 2px solid var(--dark-blue);
}

.input input:focus + .material-icons {
    color: var(--dark-blue);
}
